* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

/* Body */
html, body {
    font-family: Varela, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #333;
    background-size: cover;
    background-position: center center;
}

body {
    display: block;
    border: 0;
    
}

article {
    display: block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* Imagens de fundo para a pagina */
.bg-img{
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
}
    

/* Slideshow */
[data-component="slideshow"] .slide {
    display: none;
  
}

[data-component="slideshow"] .slide.active {
    display: block;
}

/* Footer */
footer {
    display: block;
    position: fixed;
    bottom: 0;
    font-size: 12px;
    width: 100%;
    height: 15%;
    background-color: rgba(255,255,255,0.75);
    box-shadow: 0 0 0.5em 0 rgba(0,0,0,0.5);
    color: #00055C;
    margin: 0;
    z-index: 1000;
}
footer #f-left {
    float: left;
    padding: 1em 2%;
    margin: 0;
    border: 0;
}

footer #f-right {
    float: right;
    padding: 1em 10%;
    margin: 0;
    border: 0;
}

footer #f-center {
    clear: both;
    text-align: center;
    background-color: rgba(255,255,255,0.75);
    padding-top: 0.3em;
    padding-bottom: 2em;
    margin-top: 0.3em;
}

footer #f-center p{
    margin-right: 20%;
}

footer .media{
    float: left;
    margin-left: 2.5em;
}