* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

/* Body */
html, body {
    font-family: Varela, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #333;
    background-size: cover;
    background-position: center center;
}

body {
    display: block;
    border: 0;
}

section article {
    position: relative;
    margin: 0.5em;
    float: left;
    padding: 1em;
    background-color: rgba(255,255,255,0.75);
    box-shadow: 0 0 0.5em 0 rgb(0 0 0 / 50%);
    z-index: 1000;
}

#right {
    float: right;
    width: 50%;
}

article {
    display: block;
}

article a {
    color: #00055C;
}

a, a:link, a:visited {
    color: #00055c;
    text-decoration: none;
}

div {
    display: block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2 {
    font-size: 1.2em;
    color: #00055C;
}

h3 {
    font-size: 1em;
    color: #00055C;
}
#news, #msg {
    clear: both;
    float: right;
    right: 2em;
    width: calc(75% - 1em);
}

#news h2, #msg h2{
    width: 100%;
    border-bottom:0.05em solid #00055C;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

#news p, #msg p {
    font-size: 14px;
}

#up-right{
    overflow: auto;
    height:317px;
}

#bottom-right{
    overflow-y: hidden;
    height: 265px;
}

#news .noticias{
    margin: 1em 0;
}

#news .noticias p{
    margin: 0 0 0.5em 0;
}

#news .data{
    font-size: 0.75;
}

#news a{
    position: relative;
    background-color: #233d7d;
    padding: 0.5em;
    text-decoration: none;
    color: #fff;
}

/* Imagens de fundo para a pagina */
.bg-img{
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
}
    

/* Slideshow */
[data-component="slideshow"] .slide {
    display: none;
}

[data-component="slideshow"] .slide.active {
    display: block;
}

/* Footer */
footer {
    display: block;
    position: fixed;
    bottom: 0;
    font-size: 12px;
    width: 100%;
    height: 15%;
    background-color: rgba(255,255,255,0.75);
    box-shadow: 0 0 0.5em 0 rgba(0,0,0,0.5);
    color: #00055C;
    margin: 0;
    z-index: 1000;
}
footer #f-left {
    float: left;
    padding: 1em 2%;
}

footer #f-left p{
    margin: 0;
}

footer #f-right {
    float: right;
    padding: 1em 10%;
}

footer #f-right p {
    margin: 0;
}

footer #f-center {
    position: absolute;
    top: 50%;
    height: 35%;
    width: 100%;
    clear: both;
    text-align: center;
    background-color: rgba(255,255,255,0.75);
}

footer #f-center p{
    margin-top: 0;
    margin-right: 20%;
    float: center;
}

#ucm{
    position: absolute;
    right: 34%;
    top: 30%;
}

footer .media{
    display: flex;
    float: left;
    margin-left: 30px;
    margin-right: -25px;
}